<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a058bc8b-5b39-47dd-a5c3-77053c9ae314" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a058bc8b-5b39-47dd-a5c3-77053c9ae314fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
